<!DOCTYPE html>
<head>
  <title>Takeoff</title>

  <link rel="stylesheet" href="../assets/normalize.css">
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="stylesheet" href="../assets/toolbar.css">
  <link rel="stylesheet" href="../assets/takeoff-font.css">
  <style>

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#drawing {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

  </style>
</head>
<body>

  <script src="../lib/pdf.js"></script>
  <script>require('../src/workspace.js');</script>
</body>
